@import '~@angular/material/theming';

@mixin app-request-list-theme($theme) {
  $background: map-get($theme, background);

  [app-request-list-item] {
  	&:hover {
    	background-color: mat-color($background, 'hover');
    }
    &.cdk-keyboard-focused {
    	background-color: mat-color($background, 'hover');
    }
  }
};

[mat-cell] {
  max-width: 10vw;
  &.mat-column-pathquery {
    max-width: 60vw;
  }
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

:host {
	cursor: pointer;
}