<table
  mat-table
  tabindex="0"
  [dataSource]="dataSource"
  aria-label="List of HTTP Requests"
  (keydown)="keyManager.onKeydown($event)">
  <ng-container matColumnDef="method">
    <th mat-header-cell *matHeaderCellDef> Method </th>
    <td mat-cell *matCellDef="let request"> {{request.method}} </td>
  </ng-container>
  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> Host </th>
    <td mat-cell *matCellDef="let request"> {{request.host}} </td>
  </ng-container>
  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef> Path </th>
    <td mat-cell *matCellDef="let request"> {{request.path}} </td>
  </ng-container>
  <ng-container matColumnDef="query">
    <th mat-header-cell *matHeaderCellDef> Query </th>
    <td mat-cell *matCellDef="let request"> {{request.query}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    app-request-list-item
    *matRowDef="let row; columns: displayedColumns;"
    [attr.aria-selected]="selection.isSelected(row)"
    (click)="selection.select(row)">
  </tr>
</table>
{{ keyManager?.activeItemIndex }}