@import '~@angular/material/theming';

@mixin app-request-list-theme($theme) {
  $background: map-get($theme, background);

  [app-request-list-item] {
    cursor: pointer;
    &:hover {
    	background-color: mat-color($background, 'hover');
    }
    &.cdk-keyboard-focused {
      // 0.12 comes from "activated" https://material.io/design/interaction/states.html#anatomy
      background-color: mat-color($background, 'hover', 0.12);
      font-weight: 500;
    }
  }
};

[mat-cell] {
  max-width: 10vw;
  &.mat-column-pathquery {
    max-width: 60vw;
  }
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
