@import '~@angular/material/theming';

@mixin app-hex-editor-theme($theme) {
  app-hex-editor {
    font-size: smaller;
    font-family: monospace;
  }
  [appHexEditorCharacter] {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }
  [data-hex-editor-active="true"] {
    background-color: black;
    color: white;
    border-width: 0;
    font-size: smaller;
    font-family: monospace;
  }
};
