@import '~@angular/material/theming';

@mixin app-hex-editor-theme($theme) {
  $background: map-get($theme, 'background');
  $foreground: map-get($theme, 'foreground');
  [data-hex-editor-active="true"] {
    background-color: mat-color($background, 'focused-button');
    color: mat-color($foreground, 'text');
    border-width: 1px;
  }
};
