<cdk-virtual-scroll-viewport
  (keydown)="onKeydown($event)"
  aria-labelledby="app-hex-editor-grid-hex-label"
  itemSize="15"
  [attr.aria-colcount]="16" [attr.aria-rowcount]="charValues.length / 16 | number"
  role="grid" style="width: 57ch; height: 40vh;">
  <div fxLayout="column">
    <div *cdkVirtualFor="let rowIndex of getRowIndex(); templateCacheSize: 0;" fxLayout="row" style="height: 15px;">
      <div fxLayout="row" style="width: 40ch;">
        <div
          appHexEditorCharacter [index]="rowIndex*16 + i"
          *ngFor="let char of hexValues.slice(rowIndex*16, rowIndex*16+16); let i = index; trackBy: trackByFn">
          <div
            fxFlex="0 0 2.5ch"
            *ngIf="!elementIsSelected(rowIndex, i) else showHexInput"
            (click)="shadowFocused=false; clickElement(rowIndex, i)">{{ hexValues[rowIndex*16 + i] }}</div>
          <ng-template #showHexInput>
            <input
              [attr.readonly]="readonly||null"
              fxFlex="0 0 3ch" size="2" maxlength="2" autocomplete="off" role="gridcell"
              [(ngModel)]="hexValues[rowIndex*16 + i]" [attr.title]="charValues[rowIndex*16 + i]"
              [attr.aria-colindex]="(index%16) + 1"
              [attr.aria-rowindex]="(index/16) + 1 | number"
              [attr.tabindex]="elementIsSelected(rowIndex, i) ? 0 : -1"
              [attr.data-hex-editor-active]="elementIsSelected(rowIndex, i)"
              (focus)="shadowFocused=false" (click)="shadowFocused=false"
              (keyup)="onHexChange(rowIndex*16 + i)" (keypress)="onHexChange(rowIndex*16 + i)">
          </ng-template>
        </div>
      </div>
      <div fxLayout="row" style="width: 16ch;">
        <div
          appHexEditorCharacterShadow [index]="rowIndex*16 + i"
          *ngFor="let char of charValues.slice(rowIndex*16, rowIndex*16+16); let i = index; trackBy: trackByFn">
          <div
            fxFlex="0 0 1ch"
            *ngIf="!elementIsSelected(rowIndex, i) else showValueInput"
            (click)="shadowFocused=true; clickElement(rowIndex, i)">{{ charValues[rowIndex*16 + i] }}</div>
          <ng-template #showValueInput>
            <input
              [attr.readonly]="readonly||null"
              fxFlex="0 0 2ch" size="1" maxlength="1" autocomplete="off" role="gridcell"
              [(ngModel)]="charValues[rowIndex*16 + i]" [attr.title]="hexValues[rowIndex*16 + i]"
              [attr.aria-colindex]="(index%16) + 1"
              [attr.aria-rowindex]="(index/16) + 1 | number"
              [attr.tabindex]="elementIsSelected(rowIndex, i) ? 0 : -1"
              [attr.data-hex-editor-active]="elementIsSelected(rowIndex, i)"
              (focus)="shadowFocused=true" (click)="shadowFocused=true"
              (keyup)="onValueChange()" (keypress)="onValueChange()">
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
