<mat-card>
  <mat-card-subtitle>Edit HTTP Request</mat-card-subtitle>
  <mat-list
    role="grid"
    aria-label="HTTP Headers"
    [attr.aria-rowcount]="headers.length"
    (keydown)="keyManager?.onKeydown($event)">
    <mat-list-item
      role="row"
      app-request-editor-header-item
      checkboxPosition="before"
      *ngFor="let header of headers; let i = index;"
      [attr.aria-rowindex]="i+1"
      (click)="keyManager?.setActiveItem(i)">
      <mat-form-field fxFlex="1 0" role="gridcell">
        <input
          [tabIndex]="(keyManager?.activeItemIndex || 0) == i?0:-1"
          matInput
          [(ngModel)]="header[1]"
          placeholder="{{header[0]}}">
      </mat-form-field>
      <mat-checkbox
        role="gridcell"
        [attr.title]="'Send ' + header[0] + ' header'"
        [tabIndex]="(keyManager?.activeItemIndex || 0) == i?0:-1"
        checked="true" labelPosition="before" fxFlex="0 0 auto">
        <span class="cdk-visually-hidden">
          Send {{ header[0] }} header
        </span>
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
  <app-request-body aria-label="Request Body"></app-request-body>
</mat-card>