<mat-tab-group>
  <mat-tab label="Raw">
    <mat-form-field>
      <textarea matInput placeholder="Request Body"></textarea>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Binary">
    <app-hex-editor></app-hex-editor>
  </mat-tab>
  <!-- TODO: implement
    <mat-tab label="URL decoded">
      if this was an url-encoded form, show a list of inputs with values
    </mat-tab>
    <mat-tab label="Multipart">
      if this was a multipart-encoded form, show a list of fields with each header
    </mat-tab>
    <mat-tab label="JSON">
      if this was a json encoded request body, show an editable json tree
    </mat-tab>
  -->
</mat-tab-group>